.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.pallette{
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.pallette button{
  margin-top: 5px;
}
